<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsApplication2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsApplication2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <securityConfiguration defaultAuthorizationInstance="" defaultSecurityCacheInstance="">
    <authorizationProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="RuleProvider" />
    </authorizationProviders>
  </securityConfiguration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <WindowsFormsApplication2.Properties.Settings>
      <setting name="S1" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="S2" serializeAs="String">
        <value>def</value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="cameraIP" serializeAs="String">
        <value />
      </setting>
      <setting name="FramePerSec" serializeAs="String">
        <value>1</value>
      </setting>
    </WindowsFormsApplication2.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <WindowsFormsApplication2.Properties.Settings>
      <setting name="S0" serializeAs="String">
        <value>1234</value>
      </setting>
    </WindowsFormsApplication2.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="Application1" value="MyApplication1" />
    <add key="Setting1" value="MySetting" />
  </appSettings>
</configuration>