<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yaguang.VJK3G.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yaguang.VJK3G.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Yaguang.VJK3G.Properties.Settings>
            <setting name="LabelRXChaSun" serializeAs="String">
                <value>RX插损</value>
            </setting>
            <setting name="LabelTXChaSun" serializeAs="String">
                <value>TX插损</value>
            </setting>
            <setting name="LabelRXZhuBo" serializeAs="String">
                <value>RX驻波</value>
            </setting>
            <setting name="LabelTXZhuBo" serializeAs="String">
                <value>TX驻波</value>
            </setting>
            <setting name="LabelTXGeLiDu" serializeAs="String">
                <value>TX隔离度</value>
            </setting>
            <setting name="LabelRXGeLiDu" serializeAs="String">
                <value>RX隔离度</value>
            </setting>
            <setting name="LabelSwitchSpeed" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelTxNaiGongLu" serializeAs="String">
                <value>TX耐功率</value>
            </setting>
            <setting name="LabelRxNaiGongLu" serializeAs="String">
                <value>RX耐功率</value>
            </setting>
        </Yaguang.VJK3G.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Yaguang.VJK3G.Properties.Settings>
            <setting name="ItemRXNaiGongLuChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemRXZhuBoChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemRXChaSunChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemRXGeLiDuChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemTXZhuBoChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemTXGeLiDuChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemSwitchSpeedChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemTXChaSunChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AVGPIBAddress" serializeAs="String">
                <value>GPIB0::16::INSTR</value>
            </setting>
            <setting name="OSCGPIBAddress" serializeAs="String">
                <value>GPIB0::1::INSTR</value>
            </setting>
            <setting name="AVPresetScript" serializeAs="String">
                <value />
            </setting>
            <setting name="STDRXChaSun1" serializeAs="String">
                <value>未校准</value>
            </setting>
            <setting name="STDTXChaSun1" serializeAs="String">
                <value>未校准</value>
            </setting>
            <setting name="STDRXChaSun2" serializeAs="String">
                <value>未校准</value>
            </setting>
            <setting name="STDTXChaSun2" serializeAs="String">
                <value>未校准</value>
            </setting>
            <setting name="STDRXChaSun3" serializeAs="String">
                <value>未校准</value>
            </setting>
            <setting name="STDTXChaSun3" serializeAs="String">
                <value>未校准</value>
            </setting>
            <setting name="FreqMark1" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="FreqMark2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FreqMark3" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="AVPreset" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ThreshRxChaSun" serializeAs="String">
                <value>-0.8</value>
            </setting>
            <setting name="ThreshRxGeLiDu" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="ThreshZhuBo" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="ThreshPowerResist" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="ThreshSwitchSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ItemTXNaiGongLu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TC1Zero" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TC2Zero" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TC1Tool" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TC2Tool" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CtrlCodeZero" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="CtrlCodeTool" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="CtrlCodeRXChaSunZhuBo" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="CtrlCodeRXGeLiDu" serializeAs="String">
                <value>4E</value>
            </setting>
            <setting name="CtrlCodeRXNaiGongLu" serializeAs="String">
                <value>0D0A</value>
            </setting>
            <setting name="CtrlCodeTXChaSunZhuBo" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="CtrlCodeTXGeLiDu" serializeAs="String">
                <value>0AB1</value>
            </setting>
            <setting name="CtrlCodeTXNaiGongLu" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="CtrlCodeSystemPower" serializeAs="String">
                <value>41</value>
            </setting>
            <setting name="SwitchControlAddr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ItemSwitchHoldTime" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="ColNoWidth" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="ColRXChaSunWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ColRXZhuBoWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ColRXGeLiDuWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ColRXNaiGongLuWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ColTXChaSunWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ColTxZhuBoWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ColTxGeLiDuWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ColTxNaiGongLuWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ColSwitchSpeedWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="MainFrameClientSize" serializeAs="String">
                <value>811, 710</value>
            </setting>
            <setting name="AutoRecall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chOfRxChaSun" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="chOfRXZhuBo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="chOfRxGeLiDu" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="chOfRxNaiGongLu" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="chOfTxChaSun" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="chOfTXZhuBo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="chOfTxGeLiDu" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="chOfTxNaiGongLu" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MainFrameLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="STDRXGeLiDu1" serializeAs="String">
                <value />
            </setting>
            <setting name="STDRXGeLiDu2" serializeAs="String">
                <value />
            </setting>
            <setting name="STDRXGeLiDu3" serializeAs="String">
                <value />
            </setting>
            <setting name="STDTXGeLiDu1" serializeAs="String">
                <value />
            </setting>
            <setting name="STDTXGeLiDu2" serializeAs="String">
                <value />
            </setting>
            <setting name="STDTXGeLiDu3" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionPageSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STDRXGeLiDu" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ThreshTxChaSun" serializeAs="String">
                <value>-0.4</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>856694</value>
            </setting>
            <setting name="STDTXNaiGongLu" serializeAs="String">
                <value>未校准</value>
            </setting>
            <setting name="STDRXNaiGongLu" serializeAs="String">
                <value>未校准</value>
            </setting>
            <setting name="ShutDownSwitchAfterTestItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwitchOffMillisecond" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CtrlCodeTxPreTxPower" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="CtrlCodeTxPostTxPower" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="ShowNotPassedRecord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="waitForToolConfirm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TxPowerFreq" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExternalTxPowerCaliValue" serializeAs="String">
                <value>46</value>
            </setting>
        </Yaguang.VJK3G.Properties.Settings>
    </userSettings>
</configuration>